# Ignore everything
*

# Except these specific folders
!Business Functions/
!Communication & Media/
!Education & Personal Growth/
!Technology, Data & Design/

# Also allow .git and .gitignore
!.git/
!.gitignore
